
// CORES

$prata: #C0C0C0;
$azul-eletrico: #007FFF;
$roxo-profundo: #4B0082;

// FONTES

$fonte-exo: 'Exo', sans-serif;
$fonte-montserrat: 'Montserrat', sans-serif;
$fonte-oswald: 'Oswald', sans-serif;
$fonte-raleway: 'Raleway', sans-serif;